  <tr id="buy_form">
    <td>
      <form action="/buy_stock/<%= @company.id %>" method="post" >
        <input type="text" name="quantity" placeholder="How Many?"/>
        <br>
        <input type="submit" />
        <br>
        <!-- <span id="hide_form" style="color:white">Hide Form</span> -->
      </form>
    </td>
  </tr>

