<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<nav>
  <a id="toggle" style="color: white">close nav bar</a>

  <ul id="list_to_hide">
    <li><%= @company.name %></li>
    <li><a href="#">Historical Performance</a></li>
    <li><a href="#">Fundamentals</a></li>   
    <li><a href="#">Industry Trends</a></li>
    <li><a href="#">Product & Positioning</a></li>
    <li><a href="#">Secret Sauce</a></li>
  </ul>
  <br clear="all">
</nav>

<!-- Put this into a partial to render on purchase page -->
<script type="text/javascript">
  var companyData = []
  <% @array_of_dates_and_prices.each do |date_price_array| %>
    companyData.push(<%= date_price_array %>)
  <% end %> 
</script>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var graphData = google.visualization.arrayToDataTable(companyData);

    var options = {
      title: 'Historical Stock Price',
      hAxis: {title: 'Date'},
      vAxis: {title: 'Price'},
      lineWidth: 10,
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(graphData, options);
}
</script>
<div id="chart_div" class="chart_div" style="width: 900px; height: 500px;"></div>
