
  <h1>Fahckin' Wicked Stahck Tradah</h1>
  
  <!-- login -->
  <form id="login" action="/login" method="post">
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder = "Password" />
    <input type="submit"/>
  </form>


  <h1 style="font-size: 30px" id='intro'>Sign Up for Fahkin' Stahcks</h1><br>
  <!-- Create_User -->
  <form id="create_new_user" action="/create_new_user" method="post">
    
    <input type="text" name="info[username]" placeholder="Username" />
    <br>
    
    <input type="text" name="info[email]" placeholder = "Email" />
    <br>
    
    <input type="text" name="info[balance]" placeholder = "Starting Balance" />
    <br>

    <input type="password" name="info[password]" placeholder = "Password" />
    <br>
    
    <input type="password_confirmation" name="info[password_confirmation]" placeholder = "Password Confirmation" />

    <input type="submit" class="new_user_submit" />
    <div style="clear:both">
    </div>
  </form>
</div>
